/*------------------------------------*\
    #About
\*------------------------------------*/
.about {

    .heading {
        padding-top: 78px;

        @media screen and (min-width:768px) and (max-width:991px) {
            padding-top: 0;
            text-align : left;
        }

        @media screen and (min-width:992px) and (max-width:1200px) {
            padding-top: 30px;
        }

        .heading-title {
            @media screen and (min-width:768px) and (max-width:991px) {
                font-size  : 32px;
                line-height: 40px;
                text-align : left;
            }
        }

        .heading-desc {
            @media screen and (min-width:768px) and (max-width:991px) {
                text-align: left;
            }
        }
    }

    &.about-2 {
        @media #{$maxTablet} {
            padding-bottom: 70px;
        }

    }

    &.about-3 {
        padding-top   : 20px;
        padding-bottom: 120px;

        @media #{$maxTablet} {
            padding-top   : 250px;
            padding-bottom: 70px;
        }
    }
}