/*------------------------------------*\
    #TopBar
\*------------------------------------*/
.top-bar {
	height          : 50px;
	overflow        : hidden;
	background-color: transparent;

	.top--contact {
		margin-bottom: 0;

		li {
			display     : inline-block;
			margin-right: 21px;
			line-height: 50px;

			@media screen and (max-width: 525px) {
				margin-right: 10px;
			}

			@media (min-width:992px) and (max-width:1200px) {
				margin-right: 10px;
			}

			&::after {
				content    : "/";
				position   : relative;
				color      : var(--global--color-primary);
				margin-left: 20px;

				@media screen and (max-width: 525px) {
					margin-left: 10px;
				}

				@media (min-width:992px) and (max-width:1200px) {
					margin-left: 10px;
				}
			}

			&:last-child {
				margin-right: 0;

				&::after {
					content: "";
				}
			}
		}

		a {
			font-family: var(--global--font-body);
			line-height: 50px;
			color      : var(--global--color-body);
			font-size  : 14px;
			font-weight: 400;
			transition : 300ms ease-in-out;

			&:hover {
				color: var(--global--color-primary);
			}
		}

		i {
			margin-right: 6px;
		}

	}

	.top--social {
		color      : var(--global--color-gray);
		font-size  : 12px;
		font-weight: 400;
		line-height: 50px;

		a {
			color      : var(--global--color-gray);
			font-size  : 16px;
			line-height: 28px;
			margin-left: 19px;

			&:hover {
				color: var(--global--color-primary);
			}

		}

	}

	.contact-info {
		margin-bottom: 0;
		font-size    : 12px;
		color        : var(--global--color-gray);
		font-weight  : 400;
		line-height  : 50px;
		margin-right : 30px;
		display      : inline-block;
		font-family  : var(--global--font-heading);

		i {
			color       : var(--global--color-primary);
			margin-right: 9px;
			font-size   : 16px;
		}

		a {
			color: var(--global--color-gray);

			&:hover {
				color: var(--global--color-heading);
			}

		}
	}

	.contact-social {
		font-size    : 13px;
		font-weight  : 400;
		margin-bottom: 0;
		display      : inline-block;

		a {
			color      : var(--global--color-white);
			font-size  : 14px;
			font-weight: 400;
			line-height: 50px;
			margin-left: 20px;

			&:hover {
				color: var(--global--color-heading);
			}
		}
	}

}